opencv-python
faiss-cpu
matplotlib
numpy
pandas
Pillow
prettytable
pytorch-lightning
pytorch-metric-learning
scikit-learn
scipy
tensorboard
timm
torch
torchaudio
torchmetrics
torchvision
tqdm
open3d>
transforms3d
yacs>
h5py
kornia
transformers
fast-pytorch-kmeans
einops
distinctipy
